---
import { Megaphone } from "@lucide/astro";

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import ImageWrapper from "../ImageWrapper.astro";
import { defineQuery } from "groq";
import { type FeaturedSection } from "sanity.types";
import { Link } from "@/components/ui/link";

const FEATURED_SECTION_QUERY = defineQuery(`*[
  _type == "featuredSection"]{_id, title, publishedAt, description, primaryCtaLink, primaryCtaLabel, secondaryCtaLabel, secondaryCtaLink,
  image {
    asset,
  }}`);

const featuredSectionData = await sanityClient
  .fetch<FeaturedSection[]>(FEATURED_SECTION_QUERY)
  .catch((error: unknown) => {
    console.error("Error fetching featured section:", error);

    return null;
  });

const featuredSection = featuredSectionData?.at(0);
---

{
  featuredSection && (
    <section
      id="featured"
      class="py-12 sm:px-8 px-4 w-full bg-accent/65 text-accent-foreground"
    >
      <div class="max-w-6xl space-y-2 mx-auto w-full">
        <span class="flex gap-2 items-center">
          <div>
            <h1 class="font-ubuntu sm:text-4xl text-xl">
              {featuredSection.title}
            </h1>
            <Megaphone class="text-yellow-500 sm:w-[40px] sm:h-[40px] h-[28px] w-[28px]" />
          </div>
        </span>
        <p class="opacity-80 max-w-3xl">{featuredSection.description}</p>
        <Link
          size="sm"
          className="rounded-xl w-full md:max-w-xs"
          variant="default"
          href={featuredSection.primaryCtaLink}
        >
          {featuredSection.primaryCtaLabel}
        </Link>
        {featuredSection.secondaryCtaLabel &&
          featuredSection.secondaryCtaLink && (
            <Link
              size="sm"
              className="rounded-xl md:max-w-xs w-full"
              href={featuredSection.secondaryCtaLink}
              variant="outline"
            >
              {featuredSection.secondaryCtaLabel}
            </Link>
          )}
        <ImageWrapper
          id={featuredSection.image?.asset?._ref}
          alt={featuredSection.title}
          className="h-full w-full object-cover rounded-lg"
        />
      </div>
    </section>
  )
}
