---
import DesktopNav from "@/components/ui/nav/desktop";
import "../styles/global.css";
import MobileNav from "@/components/ui/nav/mobile";
import SocialIcons from "@/components/SocialIcons.tsx";
import { Font } from "astro:assets";
import Footer from "@/components/sections/Footer.astro";

interface Props {
  title: string;
  description: string;
  slug: string;
  ogImage?: string;
  ogImageAlt?: string;
}

const {
  title,
  description,
  slug,
  ogImage = "/og.jpg",
  ogImageAlt = "People standing outside listening to speaker at a QC Family Tree event",
} = Astro.props;

const navWrapperClassName =
  "fixed inset-x-0 sm:top-4 top-2 w-full z-[100] bg-white/75 backdrop-blur-2xl justify-center max-w-2xl rounded-2xl mx-auto text-center flex";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://qcfamilytree.org/${slug}`} />
    <meta property="og:site_name" content="Courtney Rohan" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogImage, Astro.url)} />
    <meta property="og:image:alt" content={ogImageAlt} />

    <!-- Twitter or X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@qcfamilytree" />
    <meta property="twitter:image" content={new URL(ogImage, Astro.url)} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/site.webmanifest" />

    <meta name="theme-color" content="#b3be35" />

    <Font cssVariable="--font-ubuntu" />

    <title>{title}</title>
  </head>
  <body class="h-full w-full">
    <main class="w-full h-full">
      <div class="md:block hidden">
        <div class={navWrapperClassName}>
          <DesktopNav client:visible />
          <SocialIcons
            iconClassName="w-5 h-5 hover:fill-accent"
            wrapperClassName="absolute right-0 gap-4 inset-y-0 p-3 flex items-center"
          />
        </div>
      </div>
      <div class="md:hidden block">
        <MobileNav client:visible wrapperClassName={navWrapperClassName} />
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
